.b {
  border: 0px solid black;
}

.noselect{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

* {
  font-family: "Lato", "Helvetica", "Trebuchet MS", "Verdana", "sans-serif";
}

body {
  margin: 0;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}

.header-footer {
  display: flex;
  flex-wrap: wrap;
}
#header {
  border-bottom: 1px solid rgba(0,0,0,0.07);
  font-size: 20px;
  align-items: center;
}
.menu-item {
  text-align: left;
  width: 120px;
  text-decoration: none;
  opacity: 0.7;
  color: black;
  padding-bottom: 25px !important;
}
.past-performance-menu-item {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.eng-services-menu-item {
  text-align: left;
}

.menu-item:hover {
  cursor: hand;
  text-decoration: none;
  font-weight: 500;
  opacity: 1;
  color: darkgreen;
}
.footer-item {
  margin-left: 30px;
}
.menu-item, .footer-item {
  padding: 22px 50px 15px 0px;
  font-weight: 500;
}

.selected-menu-item {
  opacity: 1;
  color: darkgreen;
}

#footer {
  border-top: 1px solid rgba(0,0,0,0.07);
  font-size: 15px;
}

#footer-homepage {
  position: absolute;
  bottom: 0px;
  border-top: 1px solid #9a9a9a;
  width: 100%;
  font-size: 15px;
  color: #9a9a9a;
}

#footer {
  position: absolute;
  border-top: 1px solid #9a9a9a;
  width: 100%;
  font-size: 15px;
  color: black;
}

.footer-item p{
  margin-top: 0;
}

#logo-container {
  width: 70%;
  text-align: center;
}
#logo-bg {
  height: 100%;
  width: 70%;
  opacity: 0.7;
  background-color: white;
}
#logo {
  width: 300px;
  content: url('../assets/original_logo_recreation.png');
}

/* Homepage */
@media all and (max-width: 1360px) and (min-width: 1100px), (max-height: 1200px) and (min-height: 1100px) {
    .hero-word-container, #hero-innovative-solutions {
      font-size: 45px;
    }
}
@media all and (max-width: 1100px) and (min-width: 900px), (max-height: 1100px) and (min-height: 900px){
    .hero-word-container, #hero-innovative-solutions {
      font-size: 40px;
    }
}
@media all and (max-width: 900px) and (min-width: 800px), (max-height: 900px) and (min-height: 800px){
    .hero-word-container, #hero-innovative-solutions {
      font-size: 35px;
    }
}

@media all and (max-width: 800px) and (min-width: 600px), (max-height: 800px) and (min-height: 600px){
    .hero-word-container, #hero-innovative-solutions {
      font-size: 30px;
    }
}
@media all and (max-width: 600px) and (min-width: 500px), (max-height: 600px) and (min-height: 500px){
    .hero-word-container, #hero-innovative-solutions {
      font-size: 20px;
    }
}
@media all and (max-width: 500px) and (min-width: 200px), (max-height: 500px) and (min-height: 200px){
    #logo {
      width: 200px;
    }
    .hero-word-container, #hero-innovative-solutions {
      font-size: 15px;
    }
}
@media all and (max-width: 200px) and (min-width: 0px), (max-height: 200px) and (min-height: 0px){
    #logo {
      width: 70;
    }
    .hero-word-container, #hero-innovative-solutions {
      font-size: 10px;
    }
}


/* Page content hero images and text */
@media all and (min-width: 1800px) {
  .hero-image-text {
    font-size: 100px;
    top: -170px !important;
  }
  .hero-title-text-container {
    height: 180px;
  }
}
@media all and (max-width: 1800px) and (min-width: 1400px) {
  .hero-image-text {
    font-size: 100px;
    top: -170px !important;
  }
  .hero-title-text-container {
    height: 180px;
  }

}
@media all and (max-width: 1400px) and (min-width: 1250px) {
  .hero-image-text {
    font-size: 90px;
    top: -125px !important;
  }
  .hero-title-text-container {
    height: 160px !important;
  }
}
@media all and (max-width: 1250px) and (min-width: 1150px) {
  .hero-image-text {
    font-size: 70px;
    top: -110px !important;
  }
  .hero-title-text-container {
    height: 140px !important;
  }
}
@media all and (max-width: 1150px) and (min-width: 955px) {
  .hero-image-text {
    font-size: 70px;
    top: -95px !important;
  }
  .hero-title-text-container {
    height: 120px !important;
  }
}
@media all and (max-width: 955px) and (min-width: 850px) {
  .hero-image-text {
    font-size: 60px;
    top: -80px !important;
  }
  .hero-title-text-container {
    height: 100px !important;
  }
}
@media all and (max-width: 850px) and (min-width: 700px) {
  .hero-image-text {
    font-size: 50px;
    top: -65px !important;
  }
  .hero-title-text-container {
    height: 80px !important;
  }
}
@media all and (max-width: 700px) and (min-width: 600px) {
  .hero-image-text {
    font-size: 40px;
    top: -55px !important;
  }
  .hero-title-text-container {
    height: 60px !important;
  }
}
@media all and (max-width: 600px) and (min-width: 500px) {
  .hero-image-text {
    font-size: 30px;
    top: -40px !important;
  }
  .hero-title-text-container {
    height: 40px !important;
  }
}
@media all and (max-width: 500px) and (min-width: 0px) {
  .hero-image-text {
    font-size: 20px;
    top: -25 !important;
  }
  .hero-title-text-container {
    height: 30px !important;
  }
}

/* Direction */

@media all {
  .tabs, .header-footer, .body-item-content {
    flex-direction: row;
  }
  .body-item-content-text {
    padding-right: 50px;
  }
  #logo {
    margin-right: 60px;
  }
  #contact-text {
    flex-basis: 2000px;
  }
}
@media all and (max-width: 900px) and (min-width: 0px) {
  .header-footer {
    align-items: center;
  }
  #logo {
    margin-right: 0px;
  }
  #contact-text {
    flex-basis: 10px;
  }
  .tabs, .header-footer, .body-item-content {
    flex-direction: column;
  }
  .body-item-content-text {
    flex-basis: 100px;
    padding-bottom: 20px;
  }
  #footer-homepage {
    position: relative;
  }
}

/* Font size */
@media all and (max-width: 950px) and (min-width: 700px) {
  * {
    font-size: 18px;
  }
}
@media all and (max-width: 700px) and (min-width: 0px) {
  * {
    font-size: 15px;
  }
}
